@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 346 100% 100%;
    --foreground: 346 5% 10%;
    --card: 346 50% 100%;
    --card-foreground: 346 5% 15%;
    --popover: 346 100% 100%;
    --popover-foreground: 346 100% 10%;
    --primary: 346 79.4% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 346 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 308 30% 90%;
    --accent-foreground: 346 5% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 346 79.4% 38%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 346 50% 10%;
    --foreground: 346 5% 100%;
    --card: 346 50% 10%;
    --card-foreground: 346 5% 100%;
    --popover: 346 50% 5%;
    --popover-foreground: 346 5% 100%;
    --primary: 346 79.4% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 346 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 308 30% 25%;
    --muted-foreground: 346 5% 65%;
    --accent: 308 30% 25%;
    --accent-foreground: 346 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 346 5% 100%;
    --border: 346 30% 50%;
    --input: 346 30% 50%;
    --ring: 346 79.4% 38%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-gray-100 text-foreground;
    font-family: 'Open Sans', sans-serif;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
